
body
{
	         background: url('bd10.jpg');
	         width: 90%;
                height: 100%;
                margin: 0;
                padding: 0;
                position:absolute;

}
.container
{
	  
	  
	  width:250px;
    height: 300px;
    margin-left: 456px;
}

.x{
	
	
	margin-left: 400px;
	margin-top: 10px;
	margin-right: 200px;

}
.n
{
color: white;
}
.form-group
{
	width:500px;
	color:white;
}

.n2
{
color: #CF3A16;

margin-left: 80px;

}

