

<!DOCTYPE html>
<html>
<link href='ahome1.css' rel='stylesheet'>
<body>

<ul>

  <li><a href="Ahome.html">HOME</a></li>
  <li><a href="user_profiles.php">User Profile </a></li>
  <li><a href="addhotel.html">Add Hotel</a></li>
  <li><a href="user.php">Active User</a></li>
  <li><a href="addguide.html">Add Guide</a></li>
  <li><a href="addpackage.html">Add Package</a></li>
  <li><a href="booked.php">Booked List</a></li>
  <li><a href="home.html">Sign Out</a></li>
  
 
</ul>
<br>

<h2> Welcome Admin</h2>
<div style="background-color:black;color:white;padding:20px;">
	<b>
		<p>Hello Anik</p>
  <img src="bd3.jpg" width="300" height="200">
  
</div> 
<br>
<div >
	


</div> 






</body>
</html>