<!DOCTYPE html>
<html>
<link href='style.css' rel='stylesheet'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<body style="background-color:#B2E2E2">
<div class="xx">
<ul >
   

   <li><a href="login.html">Contuct With Us</a></li>
  <li><a href="Touristreg.html">Tourist Registration</a></li>
  <li><a href="login.html">Tourism Login </a></li>
  <li><a href="Home.html">HOME</a></li>

 
</ul>
</div>
<h2>ONLINE TOURISM MANAGEMENT SYSTEM<br><b>(Avail all kinds of travel Facilities on a click)<b></h2>


<h3>Welcome To Bangladesh Tourism Site!</h3>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      
      <h4>The Sundarbans is a vast forest in the coastal region of the Bay of Bengal; considered one of the natural wonders of the world, it was recognised in 1997 as a UNESCO World Heritage Site of Bangladesh. Located in the delta region of Padma, Meghna and Brahmaputra river basins, this unique forest area extends across South 24 Parganas and, North 24 Parganas districts of West Bengal State, India and Khulna, Satkhira, Bagerhat districts of Bangladesh. The Sundarbans is the world's largest coastal mangrove forest, with an area of approximately 10,000 sq km; of which approximately 6,000 sq km is situated in Bangladesh and approximately 4,000 sq km in India.The Bangladeshi and Indian parts of the Sundarbans, while in fact adjacent parts of the uninterrupted landmark, have been listed separately in the UNESCO World Heritage List: as "Sundarbans" and "Sundarban National Park" respectively. 
      	</h4>
    </div>
    <div class="col-sm-4">
      
      <img src="bd3.jpg" width="300" height="200" class="img-rounded" alt="Cinque Terre">

    </div>
    
  </div>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      
      <h4>The Sundarbans is a vast forest in the coastal region of the Bay of Bengal; considered one of the natural wonders of the world, it was recognised in 1997 as a UNESCO World Heritage Site of Bangladesh. Located in the delta region of Padma, Meghna and Brahmaputra river basins, this unique forest area extends across South 24 Parganas and, North 24 Parganas districts of West Bengal State, India and Khulna, Satkhira, Bagerhat districts of Bangladesh. The Sundarbans is the world's largest coastal mangrove forest, with an area of approximately 10,000 sq km; of which approximately 6,000 sq km is situated in Bangladesh and approximately 4,000 sq km in India.The Bangladeshi and Indian parts of the Sundarbans, while in fact adjacent parts of the uninterrupted landmark, have been listed separately in the UNESCO World Heritage List: as "Sundarbans" and "Sundarban National Park" respectively. 
      	</h4>
    </div>
    <div class="col-sm-4">
      
      <img src="bd4.jpg" width="300" height="200" class="img-rounded" alt="Cinque Terre">

    </div>
    
  </div>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      
      <h4>The Sundarbans is a vast forest in the coastal region of the Bay of Bengal; considered one of the natural wonders of the world, it was recognised in 1997 as a UNESCO World Heritage Site of Bangladesh. Located in the delta region of Padma, Meghna and Brahmaputra river basins, this unique forest area extends across South 24 Parganas and, North 24 Parganas districts of West Bengal State, India and Khulna, Satkhira, Bagerhat districts of Bangladesh. The Sundarbans is the world's largest coastal mangrove forest, with an area of approximately 10,000 sq km; of which approximately 6,000 sq km is situated in Bangladesh and approximately 4,000 sq km in India.The Bangladeshi and Indian parts of the Sundarbans, while in fact adjacent parts of the uninterrupted landmark, have been listed separately in the UNESCO World Heritage List: as "Sundarbans" and "Sundarban National Park" respectively. 
      	</h4>
    </div>
    <div class="col-sm-4">
      
      <img src="bd4.jpg" width="300" height="200" class="img-rounded" alt="Cinque Terre">

    </div>
    
  </div>
</div>



<br>
<br>



<div class="col-sm-12" style="background-color:#000">
  
<div class="container" >
  <div class="row">
    
    <div class="col-sm-4" >
      <h3>Who We Are </h3>
      <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</h5>
      <h5>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</h5>
    </div>
    
    <div class="col-sm-4">
      <h3>Contuct With Us</h3>
      <h5>Islam Anik </h5>
       <h5>Managing Director  </h5>

        <h5>Email: amiral@amiraltt.com </h5>
          <br>
         <h5>  Mr. Hani Al-Ayaseh  </h5>
          <h5>General Manager  </h5>
           <h5>Email: ticketing@amiraltt.com  </h5>
           <br>
         <h5>  Mr. Hani Al-Ayaseh  </h5>
          <h5>General Manager  </h5>
           <h5>Email: ticketing@amiraltt.com  </h5>
            

    </div>
    <div class="col-sm-4">
      <h3>Find Us</h3>        
      <h5>House No:8</h5>
      <h5>Road No:21</h5>
      <h5>Nikonjo-2</h5>
      <h5>Dhaka,1229</h5>
    </div>
  </div>
</div>
</div>

</body>

</html>