<!DOCTYPE html>
<html>
<link href='thome.css' rel='stylesheet'>
<body>

<ul>

  <li><a>HOME</a></li>
  <li><a href="showGuideDetails.php"  >Select Guide </a></li>
  <li><a    href="showHotelDetails.php">Hotel Availablity</a></li>
  <li><a href="showPackageDetails.php">Packages</a></li>
  <li><a href="booking.html">Booking Tour </a></li>
  <li><a href="payment.html">Payment</a></li>
  <li><a>Cancelation</a></li>
  <li><a>Update Profile</a></li>
  <li><a href="share.html">Share Experiences</a></li>
  <li><a>Sign Out</a></li>
  
 
</ul>
<br>
<br>
<br>
<div style="background-color:black;color:white;padding:20px;">
	<b>
		<p>Hello Anik</p>
  <img src="bd3.jpg" width="300" height="200">
  
</div> 
	<br>
<div>
<?php
echo "My first PHP script!";
?> 

</div>


</body>
</html>